@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-color: #fff;
  background-color:	#483248;
  scroll-behavior: smooth;
 font-family: 'Poppins', sans-serif;
}

.header{
  position: relative;
  width: 100%;
  padding: 30px;
  background: #483248;
  text-color: #fff;
  display: flex;

}


.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 500;
  cursor: default;
}

.Homepage h1{
  padding: 30px;
  text-align: center;
  color: #fff;
  
  
}

.Homepage div{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 2rem;
}
.Homepage div .input-box {
  width: 100%;
  display: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 10px;
  text-color: white;
  font-size: 1.6rem;
  color: #483248;
  background: #51414F;
  margin: 10px;
  
}

.Homepage div .input-box input {
  width: 20%;
  text-align: center;
  
}
.Homepage div .input-box input:hover  {
  transform: scale(1.5);

}

.footer {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding: 30px;
  background: #51414F;
}
.footer-text {
  font-size: 20px;
  color: #fff;
  background-color: #51414F;
  
}